body {
  background-color: black;
  margin: 0;
  padding: 0;
}

.firstPage {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.container {
  margin: 4rem;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

input {
  padding: .4rem .5rem;
  border-radius: 5px;
  font-size: 1.2rem;
  outline: none;
}

.btn {
  display: flex;  
  gap: 15px;
}

.btn button {
  outline: none;
  border: none;
  background-color: azure;
  font-size: 1rem;
  padding: .4rem 1rem;
  border-radius: 4px;
  transition: all .3s ease;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

.stack {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  max-width: 200px;
  width: 100%;
}

.stack span {
  color: white;
  border: 1px solid #ffebcd;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}